:host {
	position: absolute;
	inset: 0;
	display: flex;
	/*flex-direction: column;*/
	align-items: flex-start;
}

#kanji-container {
	width: 640px;
	height: 640px;
	background-color: #000;
	color: #fff;
}

#header,
#footer {
	@apply absolute w-full flex justify-between z-10;
}
